<h2 mat-dialog-title>{{ tituloAccion }} Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="formularioCliente">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Rut</mat-label>
          <input matInput autocomplete="off" formControlName="rutCliente" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="nombreCliente" />
          <mat-icon matSuffix>fit_screen</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput autocomplete="off" formControlName="apellidoCliente" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput autocomplete="off" formControlName="correoCliente" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput autocomplete="off" formControlName="fonoCliente" />
          <mat-icon matSuffix>telefono</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="formularioCliente.invalid"
    (click)="guardarEditar_Cliente()"
  >
    {{ botonAccion }}
  </button>
</mat-dialog-actions>
